$color-primary: #286435;
$color-secondary: maroon;
$color-warning: yellow;
$color-info: #7ebf9f;


// Grayscale colors
$color-white: #fffdfa;
$color-lightest: #fdf4eb;
$color-lighter: #e2dad3;
$color-light: #c9c2bc;
$color-medium: #96918c;
$color-dark: #63605c;
$color-darker: #494644;
$color-darkest: #2A2928;
$color-black: #161515;




